{% extends 'base_content.html' %}
{% block content %}

<div class = "container ">
    <div class = "row">
        <div class = "col-12">
            <h1>Create A Task!</h1>
            {% if team_id %}
            <form action="{% url 'create_team_task' team_id %}" method="post" >
            {% else %}
                <form action="{% url 'create_task' %}" method="post" >
            {% endif %}


                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=form%}

                    <button type="submit" class="btn btn-secondary ">Create Task</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}