{% extends 'dashboard.html' %}
{% block dashboard_content %}
<!--alternative container-->
<!--1 card for everything-->
<div class = "container vh-100 mb-3">
    <div class = "row h-100">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'my_tasks' %}">My Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'my_teams' %}">My Teams</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            <div id="myTasks" class="tab-content">


              
              <!-- Content for My Tasks -->
              <a href="{% url 'create_task' %}" class="btn btn-sm btn-outline-secondary">Create Task +</a>
              
              {% block tasks %}
              <table class = "table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task</th>
                        <th scope="col">Add. Info</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Assigned</th>
                        <th scope="col">Status</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ task.task_name }}</td>
                        <td>{{ task.task_description }}</td>
                        <td>{{ task.due }}</td>
                        <td>{{ task.assigned }}</td>
                        <td>{{ task.get_status_display }}</td>
                        <td>
                          <a href="{% url 'edit_task' task.id %}" class="btn btn-dark" title="Edit">
                            <i class="bi bi-pencil"></i>
                          </a>
                        </td>

                        <td>
                            <a href="{% url 'delete_task' task.id %}" class="btn btn-danger" title="Delete">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
          
              {% endblock %}


            </div>

          </div>
        </div>
    </div>
  </div>

{% endblock %}