{% extends 'dashboard.html' %}
{% block dashboard_content %}
<!--alternative container-->
<!--1 card for everything-->
<div class = "container vh-100 mb-3">
    <div class = "row h-100">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'my_tasks' %}">My Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'my_teams' %}">My Teams</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            <div id="myTeams" class="tab-content">
                <!-- Content for My Teams -->
                <a href="#" button class="btn btn-sm btn-outline-secondary">Create Team +</button></a>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  {%endblock%}