{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Create a New Task</h1>
    </div>
  </div>
  <div class="row">
    <form method="post" action="{% url 'task' %}">
      {% csrf_token %}
      <label for="task_name">Task Name:</label>
      <input type="text" id="task_name" name="task_name" required>

      <label for="content">Content:</label>
      <textarea id="content" name="content" required></textarea>

      <label for="due">Due:</label>
      <input type="text" id="due" name="due" placeholder="YYYY-MM-DD HH:MM:SS">

      <label for="assignor">Assignor:</label>
      <select name="assignor" id="assignor">
          {% for user in users %}
          <option value="{{ user.id }}">{{ user.username }}</option>
          {% endfor %}
      </select>

      {# <input type="text" id="owner" name="owner" required> #}

      <button type="submit">Create Task</button>
    </form>
  </div>
</div>
{% endblock %}