{% extends 'my_tasks.html' %}
{% block content %}

<div class = "container ">
    <div class = "row">
        <div class = "col-12">
            <h1>Your Team Details!</h1>
            <a href="{% url 'my_teams' %}" button class="btn btn-sm btn-secondary">Go Back</button></a>
            
            <div class = "card">
                <label><strong>Team Name:</strong></label>
            <p>{{ team.team_name }}</p>
            <label><strong>Team Description:</strong></label>
            <p>{{ team.team_description }}</p>
            <label></label><strong>Team Members:</strong></label>
            <p>
                {% for member in team.team_members.all %}
                    <p>{{ member }}</p>
                {% endfor %}
            </p>
            </div>

            <div class = "card">
                <h2>Tasks For Your Team</h2>
                <a href="{% url 'create_team_task' team.id %}" class="btn btn-sm btn-outline-secondary">Create Team Task +</a>
                {% block tasks%}
                
                    {{block.super}}
                {% endblock %}
            </div>
            

        </div>
    </div>
</div>


{% endblock %}